/* index.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.bg-darkBg {
  background-color: #0e0e10;
}
.bg-lightBg {
  background-color: #1c1c24;
}
.text-white {
  color: #ffffff;
}
.p-4 {
  padding: 1rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.flex-1 {
  flex: 1;
}
.mt-4 {
  margin-top: 1rem;
}
.image-container {
    padding-top: 10px; /* Adjust the value to increase or decrease the space */
  }
  
.image-wrapper {
height: 148px; /* Reduced height to accommodate the padding */
overflow: hidden;
border-radius: 15px 15px 0 0;
}

.image {
width: 100%;
height: 100%;
object-fit: cover; /* Ensure the image covers the entire container */
}

.icon-tooltip {
  position: absolute;
  left: 60px; /* Adjust this value to position the tooltip properly */
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .icon-tooltip {
  visibility: visible;
  opacity: 1;
}

/* Example Tailwind CSS classes for gold button */
.bg-gold-500 {
  background-color: #FFD700; /* Gold color */
}

